*{
    padding: 0;
    margin: auto;
}
.top{
    background-image: url(img/BlackBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    height: 720px;
    position: relative;
    box-shadow: 5px 5px 7px 1px #161615;
}

.top-texto h1 {
    position: absolute;
    color: honeydew;
    bottom: 150px;
    left: 150px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-shadow: 3px 1px 2px rgb(112, 53, 53);
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(31, 27, 27);
}
.head{
    margin:0 13cm;
    background-color: rgb(37, 35, 35);
}
.head h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(232, 233, 232);
}
.box {
    border-bottom: 1px solid rgb(0, 0, 0);
    display:table-cell;
    padding: 10px 50px;
    height: 50px;
    width: 200px;
}
.box p {
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: honeydew;
}
.img-aling {
    padding: 5px 0;
    float:left;
    width: 50px;
    height: 50px;
}
.container{
    margin: 0 13cm;
    background-color: rgb(37, 35, 35);
}































footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 22%, rgba(77,77,77,1) 48%, rgba(61,61,61,1) 80%, rgba(0,0,0,1) 100%);
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

}