.top{
    background-image: url(../img/PlasiWallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    box-shadow: 5px 5px 7px 3px rgb(94, 151, 122);
    height: 1080px;
    position: relative;
}

.top-texto h1 {
    position: absolute;
    color: honeydew;
    bottom: 120px;
    left: 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-shadow: 3px 1px 2px rgb(117, 197, 157);
}

.top-texto h2 {
    position: absolute;
    color: honeydew;
    bottom: 50px;
    left: 200px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-shadow: 3px 1px 2px rgb(117, 197, 157);
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(14, 13, 13);
}

.text{
    border: solid rgba(39, 33, 33, 0.479);
    box-shadow: 0 0 0 25px rgb(92, 168, 130);
    border-radius: 15%;
    margin: 50px 5cm;
    background-color: rgba(68, 67, 67, 0.527);
}
p {
    padding: 0;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: honeydew;
}

.song {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: honeydew;
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(70, 151, 111) 0%, rgb(44, 41, 41) 22%, rgb(51, 51, 51) 48%, rgb(39, 38, 38) 80%, rgb(70, 151, 111) 100%);
    width: auto;
    height: 80px;
    margin: 0;
    padding: 15px;
}

footer p {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    color: honeydew;
}

.school {
    float: left;
    width: 70px;
    height: 70px;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(180, 115, 54);
}

.logo{
    border-radius: 65%;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 25px;
}
