.top{
    background-image: url(../img/Dualipawallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    box-shadow: 10px 6px 10px 8px #881e1e;
    height: 1080px;
    position: relative;
}

.top-texto h1 {
    position: absolute;
    color: honeydew;
    bottom: 150px;
    left: 265px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}

.top-texto h2 {
    position: absolute;
    color: honeydew;
    bottom: 50px;
    left: 265px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-shadow: 3px 1px 2px rgb(80, 10, 10);
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(31, 27, 27);
}

.text{
    border: solid rgba(39, 33, 33, 0.479);
    box-shadow: 0 0 0 25px rgb(119, 47, 47);
    border-radius: 15%;
    margin: 50px 5cm;
    background-color: rgba(24, 18, 18, 0.527);
}
p {
    padding: 0;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: honeydew;
}

.song {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: honeydew;
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(122, 33, 33) 0%, rgb(26, 25, 25) 22%, rgb(51, 51, 51) 48%, rgb(39, 38, 38) 80%, rgb(148, 25, 25) 100%);
    width: auto;
    height: 80px;
    margin: 0;
    padding: 15px;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: firebrick;
}

.logo{
    border-radius: 65%;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 25px;
}

footer p {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: right;
    color: honeydew;
}

.school {
    float: left;
    width: 70px;
    height: 70px;
}


